body{
    font: normal 1em arial;
    background-color: black;
    background-image: url(fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100vw;
    height: 100vh;
    color: white;
}

input{
    padding: 10px;
    border-radius: 5px;
    box-sizing: 1px solid black;
    
}
form{
    width: 270px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid greenyellow;
    border-radius: 10px;   
    background-image: url(file.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-family: ubuntu;
   
}
h2{
    margin-top: 10px;
}
#saida{
    cursor: pointer;
    width: 110px;
    text-align: center;
   
}
.sig{
    text-align: center;
    font-size: 1.3em;
}

#peso{
    margin-top: 30px;
}
