body{
    font: normal 1em arial;
    background-image: url(fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100vw;
    height: 100vh;
    color: white;
}
div{
    margin-top: 10px;
}
input{
    padding: 15px;
    border-radius: 5px;
    box-sizing: 1px solid black;
    
}
form{
    width: 270px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid greenyellow;
    border-radius: 10px;   
    background-image: url(file.jpg);
    

    
}
h1{
    text-align: center;
    color: blanchedalmond;
}
#saida{
    cursor: pointer;
}
.sig{
    text-align: center;
    font-size: 1.5em;
    color: blanchedalmond;
}